// Import Custom Variables
@import "variables";
// Import Bootstrap
@import "../../vendor/bootstrap/scss/bootstrap";
// Import Custom SCSS
@import "mixins";
@import "global";
@import "utilities";
@import "navbar";
@import "cards";
@import "login";
@import "footer";

.page-header.header h2 {
  margin-top: 0;
}

.table-bordered.content-table tr td:last-child a {
  margin-right: 15px;
}

.form-control.required {
  content: "*";
  color: red;
  font-weight: bold;
}