body {
  font-family: "Ubuntu", sans-serif;
}

.main {
  background-color: #021a4e;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
}
@media screen and (max-width: 576px) {
  .main {
    width: 350px;
    height: 388px;
  }
}

.back {
  padding-top: 10px;
}
.back a {
  padding: 15px 0px 0px 15px;
  color: #e4c800;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.back a:hover {
  text-decoration: none;
  color: #e4c800;
}

.sign {
  padding-top: 0px;
  color: #e4c800;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.un {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  color: #021a4e;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(219, 209, 49, 0.5);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.pass {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  color: #021a4e;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(219, 209, 49, 0.5);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

.un:focus, .pass:focus {
  border: 2px solid #e4c800 !important;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #021a4e;
  background: #e4c800;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.submit:hover {
  background-color: #021a4f;
  transition-duration: 0.5s;
  color: #e4c800;
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e4c800;
  padding-top: 15px;
}
.forgot a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #e4c800;
  text-decoration: none;
}

.forgot a:hover {
  text-decoration: none !important;
  color: #e4c800 !important;
}

.alert.alert-danger {
  margin-top: 27px;
}

/*# sourceMappingURL=style-login.css.map */
