$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$ugly-yellow: #e4c800;
$basic-color: #021a4e;
$white: #ffffff;
.banner.img-fluid {
  max-height: 700px;

}

.card-img-top {
  height: 217px;
}

.d-block.slide-image {
  height: 747px;
}

.arrow {
  top: -2px;
  font-size: 26px;
  position: relative;
  display: none;
  @media screen and(max-width: 767px) {
    display: inline-block;
  }
}

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

@font-face {
  font-family: TrajanPro;
  src: url("../fonts/trajan-pro/Trajan Pro.ttf");
}


.text-fade {
  display: none;
  position: absolute;
  top: 70px;
  left: 88px;
  width: 200px;
  text-align: center;
  word-break: break-word;
  height: 422px;
}

.bg-edge2edge {
  text-align: center;
  background-image: url(../img/unisq.png);
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: $break-xl) {
  .bg-edge2edge {
    background-size: initial;
  }
}

a, p {
  word-break: break-word;
}

.navbar.menu2.navbar-expand-lg.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.news a:hover, .events a:hover {
  text-decoration: none;
  color: $ugly-yellow;
  transition-duration: 0.5s;
}

.touch h1:hover {
  color: $ugly-yellow;
  transition-duration: 0.5s;
}

.down {
  margin-top: 30px;
}

@media screen and (min-width: $break-md) and (max-width: $break-lg) {
  .down {
    margin-top: 60px;
  }
}

@media screen and (min-width: $break-lg) and (max-width: $break-xl) {
  .down {
    margin-top: 120px;
  }
}

@media screen and (min-width: $break-md) and (max-width: $break-lg) {
  .left-col .row {
    padding-left: 42px;
  }
}

@media screen and (min-width: $break-lg) and (max-width: $break-xl) {
  .left-col .row {
    padding-left: 20px;
  }
}

.su-logo.second-logo {
  margin: 0;
}

.appear {
  color: $basic-color;
  background-color: #82f286;
  width: 147px;
  border-radius: 10px;
  margin: auto auto 5px auto;
  display: none;
  padding: 5px;;
}

.caption-for-top-photos:hover, .caption-for-bot-photos:hover {
  text-decoration: none;
  color: $white;
}

@media screen and (min-width: $break-xl) {
  .img-hover-zoom {
    height: 263px;
    overflow: hidden;
    width: 263px;

    img {
      transition: transform 1s, filter 1.5s ease-in-out;
      transform-origin: center center;
      filter: brightness(80%);
    }

    :hover img {
      filter: brightness(100%);
      transform: scale(1.5);
    }
  }
  /* The Transformation */
}

.row .navbar .navbar-collapse .navbar-nav li a:hover {
  text-decoration: none;
  transition-duration: 0.5s;
  color: $ugly-yellow;
}

footer li {
  word-break: break-word;
}

@media screen and (max-width: $break-xl) {
  .card {
    margin-bottom: 30px;
  }
}

.card:hover {
  box-shadow: 0 0 20px 6px $ugly-yellow;
  transition: 0.5s;
}

.slide .carousel-indicators {
  li {
    background-color: $white;
    opacity: 1;
    height: 10px;
    width: 10px;
    border-radius: 1000px;
    border: 1px solid $white;
  }

  .active {
    background-color: transparent;
  }
}

header {
  height: 149px;
}

@media screen and (max-width: $break-lg) {
  header {
    height: 65px;
  }
}

.content .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar.nav-color.navbar-dark {
  padding: 3px;
  z-index: 20;
}

@media screen and (width: $break-lg) {
  header {
    height: 150px;
  }
}

@media screen and (max-width: 991px) {
  header .menu1 {
    display: none;
  }
}

nav {
  min-height: 39px;
  background-color: $basic-color;
  width: 100%;
}

.row .navbar .navbar-collapse .navbar-nav li {
  margin: 0;
}

@media screen and (max-width: $break-lg) {
  .row .navbar .navbar-collapse {
    margin-left: 5px;
  }
}

.navbar-toggler {
  margin-left: auto;
}

button.navbar-toggler {
  padding: 15px;
  border: 0;
}

.row .navbar .navbar-collapse .navbar-nav li {
  list-style: none;
  display: inline;
  margin: 0 22px;
}

@media screen and (max-width: $break-lg) {
  .row .navbar .navbar-collapse .navbar-nav li {
    padding-left: 10px;
    margin: 0;
  }
}

@media screen and (width: $break-lg) {
  .row .navbar .navbar-collapse .navbar-nav li {
    margin: 0 20px;
  }
}

header .m-auto {
  margin: auto !important;
}

.m-auto ul {
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 0;
  text-align: center;
}

.navbar-dark {
  button.navbar-toggler {
    border-color: #666666;
  }

  .navbar-nav a.nav-link {
    color: $white;
    position: relative;
  }
}

@media screen and (max-width: $break-md) {
  .row .navbar .navbar-collapse .navbar-nav li {
    margin: 0;
  }
}

@media screen and (min-width: $break-lg) {
  .navbar-nav .social-logo {
    display: none;
  }
}

.navbar-nav .social-logo a {
  background-color: transparent;
  color: $white;
  text-align: right;
}

form .searchIcon2 {
  background-image: url(../img/search-icon-white-one-hi.png) !important;

  &[type=text] {
    margin-left: 0;
    background-color: transparent;
    padding: 12px 8px 12px 40px;
    color: $white;

    &:focus {
      width: 130px;
      background-position: 100px 10px;
      padding-left: 13px;
      text-align: left;
    }
  }

  text-align: center;
  width: 29px;
}

@media screen and (min-width: $break-lg) {
  form .searchIcon2 {
    display: none;
    top: 0;
  }
}

.photo {
  max-width: 35%;
  top: 0;

  img {
    height: 40px;
  }
}

@media screen and (min-width: $break-lg) {
  .photo {
    display: none;
    top: 0;
  }
}

.social-logo {
  list-style: none;
  padding-top: 25px;
  text-align: right;

  li {
    display: inline-block;
    padding: 2px;
    text-decoration: none;
    margin: 0;
  }

  a {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: $white;
    background: #b6b6b6;
    text-align: center;
    width: 26px;
    height: 26px;
    padding: 3px;

    &:hover {
      color: $basic-color;
      transition-duration: 0.5s;
    }
  }
}

.searchIcon {

  &::placeholder {
    color: transparent;
  }

  &:focus::placeholder {
    color: unset;

  }

  &[type=text] {
    cursor: pointer;
    width: 3px;
    box-sizing: border-box;
    border: 0 solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: $white;
    background-image: url(../img/searchicon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 44px 12px 8px;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    margin-left: 30px;
    background-size: 25px;

    &:focus {
      width: 200px;
      background-position: 161px 10px;
      transition: width 0.3s ease-in-out;
      outline: $basic-color;
      box-shadow: 0 0 4px 1px $basic-color;
      cursor: text;
    }
  }
}

@media screen and (max-width: $break-xl) {
  .searchIcon[type=text] {
    margin-left: 0;
  }
}

header .blue {
  background-color: $basic-color;
  border-radius: 0;
  height: 39px;
}

.innerPages {
  /*text-align: center;*/
  li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: $white;
    padding-top: 7px;

    a {
      color: $white;
      padding-left: 75px;
    }
  }
}

.su-logo {
  width: 139px;
  height: 48px;
  object-fit: contain;
  margin: 8px 0 0 0;
}

.menu {
  width: 1440px;
  height: 39px;
  object-fit: contain;
  background-color: $basic-color;
}

a {
  color: $white;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  font-size: 14px;
  width: 100%;
  letter-spacing: 0.8px;
  font-weight: bold;
}

.underSlider {
  padding-top: 80px;
}

.statistics {
  .row {
    .salary, .globally, .worker {
      height: unset;
      @media screen and (max-width: $break-md) {
        margin-bottom: 60px;
      }
    }
  }

  background-color: $basic-color;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 0;
  margin-top: 80px;
  margin-right: 0;
  margin-left: 0;
}

@media screen and (max-width: $break-xl) {
  .statistics .captions {
    margin: auto;
  }
}

@media screen and (max-width: $break-md) {
  .statistics {
    height: 1100px;
  }
}

@media screen and (max-width: $break-lg) and (min-width: $break-md) {
  .statistics {
    height: 800px;
  }
}

@media screen and (max-width: $break-xl) and (min-width: $break-lg) {
  .statistics {
    height: 500px;
  }
}

.padding-15 {
  padding-right: 15px;
}

@media screen and (min-width: $break-xl) {
  .margin-15 {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.icon {
  margin-bottom: 25px;
}

@media screen and (max-width: $break-xl) {
  .col-xl-4.cards {
    margin-bottom: 30px;
  }
}

.numbers {
  font-family: "Open Sans", sans-serif;
  font-size: 66px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.7px;
  text-align: center;
  color: $ugly-yellow;
  padding-top: 27px;
}

.captions {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: $ugly-yellow;
  padding-top: 27px;
  width: 260px;
  max-width: 260px;
  word-wrap: break-word;
  margin-left: 42px;
}

.menu .row .col-12 {
  padding-left: 0;
  padding-right: 0;
}

.row.underSlider {
  margin-left: 0;
  margin-right: 0;

  .col-with-text {
    width: 100%;
    object-fit: contain;
    background-color: #f3f3f3;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 102%;

    hr {
      border-top-color: #d5d5d5;
    }
  }
}

@media screen and (max-width: $break-md) {
  .row.underSlider .left-col {
    padding-left: 15px;
    text-align: center;

    .col-md-6 {
      padding-top: 30px;
    }
  }
}

@media screen and (max-width: $break-xl) and (min-width: $break-lg) {
  .row.underSlider .left-col .col-md-6 {
    text-align: center;
  }
}

@media screen and (max-width: $break-xl) {
  .row.underSlider .col-with-text {
    margin-top: 30px;
  }
}

.box-on-slider {
  font-family: TrajanPro;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: 1px;
  text-align: center;
  color: $white;
  z-index: 5;
  padding: 64px 47px 50px 47px;
  top: 21%;
  left: 50%;
  right: 160px;
  width: 491px;
  max-width: 491px;
  background-color: $basic-color;
  opacity: 0.8;
  float: right;
  word-wrap: break-word;
}

@media screen and (min-width: $break-md) and (max-width: $break-xl) {
  .box-on-slider {
    font-size: 20px;
    width: 264px;
    height: 182px;
    padding: 31px;
  }
}

@media screen and (max-width: $break-md) {
  .box-on-slider {
    display: none;
  }
}

.box-on-slider2 {
  display: none;
}

@media screen and (max-width: 767px) {
  .box-on-slider2 {
    font-family: TrajanPro;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: 1px;
    text-align: center;
    color: $white;
    padding: 15px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 250px;
    background-color: $basic-color;
    word-wrap: break-word;
    display: inline-block;
  }
}

@media screen and (width: $break-md) {
  .box-on-slider2 {
    font-family: TrajanPro;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: 1px;
    text-align: center;
    color: $white;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0;
    width: 100%;
    height: 150px;
    max-width: 100%;
    max-height: 250px;
    background-color: $basic-color;
    word-wrap: break-word;
    display: inline-block;
  }
}

.studentPhoto {
  &:hover {
    position: relative;
  }

  position: relative;
}

.caption-for-top-photos {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  position: absolute;
  top: 213px;
  width: 263px;
  height: 51px;
  color: $white;
  display: inline-block;
  background-color: $basic-color;
  opacity: 0.8;
  padding-top: 15px;
  text-align: center;
  word-wrap: break-word;
}

@media screen and (max-width: $break-xl) {
  .caption-for-top-photos {
    position: unset;
    background-color: $basic-color;
    opacity: 1;
  }
}

.caption-for-bot-photos {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  position: absolute;
  top: 505px;
  width: 263px;
  height: 51px;
  color: $white;
  display: inline-block;
  background-color: $basic-color;
  opacity: 0.8;
  padding-top: 15px;
  text-align: center;
  word-wrap: break-word;
}

@media screen and (max-width: $break-xl) {
  .caption-for-bot-photos {
    position: unset;
    background-color: $basic-color;
    opacity: 1;
  }
}

.news {
  text-decoration-line: none;
  border-bottom: 1px solid #4a4a4a;
  display: inline-block;
  height: 49px;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  color: $basic-color;
  margin-bottom: 30px;
}

@media screen and (min-width: $break-xl) {
  .card-body {
    .content {
      margin-bottom: 30px;
    }

    .big-content {
      margin-bottom: 8px;
    }
  }
}

.card-img-top {
  position: relative;
}

.calender {
  position: absolute;
  right: 10px;
  top: 10px;
}

.cal {
  position: relative;
}

.card .calender .may {
  right: 28px;
}

.cal-day {
  position: absolute;
  top: 29px;
  right: 32px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  color: $basic-color;
}

.cal-month {
  position: absolute;
  top: 48px;
  right: 21px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: $basic-color;
}

.date {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: $basic-color;
  margin: 0;
}

.para-title a:hover, .read-more a:hover {
  text-decoration: none;
  color: $ugly-yellow;
  transition: 0.5s;
}

.para-title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: $basic-color;
  padding-top: 10px;

  a {
    color: $basic-color;
  }
}

.content {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #4a4a4a;
}

.read-more {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  float: right;
  color: $basic-color;
  margin-top: 8px;
  margin-bottom: 0;

  a {
    color: $basic-color;
  }
}

.events {
  text-align: center;
  margin-top: 80px;
  /* width: 140px; */
  /* height: 49px; */
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  /* text-align: center; */
  color: $basic-color;
  margin-bottom: 30px;

  a {
    border-bottom: 1px solid $basic-color;
  }
}

.vl {
  border-left: 2px solid #cecece;
  height: 19px;
  padding-right: 15px;
}

.apply {
  margin-top: 80px;
  position: relative;
  margin-bottom: 80px;
}

.unisq img {
  width: 100%;
}

.button-apply {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 0;
  padding-left: 0;
  width: 453px;
  font-size: 54px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: $ugly-yellow;
  border: 0;
  background-color: $basic-color;

  &:hover {
    color: $basic-color;
    background-color: $ugly-yellow;
    background-position: 0 0, 0 0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
}

@media screen and (max-width: $break-sm) {
  .button-apply {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    font-size: 15px;
    width: 150px;
  }
}

@media screen and (min-width: $break-sm) and (max-width: $break-md) {
  .button-apply {
    margin: auto;
    font-size: 20px;
    padding: 12px 5px;
  }
}

@media screen and (min-width: $break-md) and (max-width: $break-lg) {
  .button-apply {
    padding: 15px 5px;
    margin: auto;
    font-size: 30px;
  }
}

@media screen and (min-width: $break-lg) and (max-width: $break-xl) {
  .button-apply {
    padding: 15px 5px;
    margin: auto;
    font-size: 30px;
  }
}

.apply-now {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 100px;

  padding-left: 0;
  width: 453px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: auto;

}

@media screen and (max-width: $break-sm) {
  .apply-now {
    padding: 20px 0;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 150px;
  }
}

.apply-text {
  position: relative;
  padding-bottom: 60px;
  text-shadow: 0 2px 4px rgba(83, 83, 83, 0.48);
  font-family: "Open Sans", sans-serif;
  font-size: 58px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.59;
  letter-spacing: normal;
  text-align: center;
  color: $basic-color;
  margin: auto;
  border-top-width: 100px;
  padding-top: 100px;
}

@media screen and (max-width: $break-sm) {
  .apply-text {
    padding: 20px;
    margin: auto;
    font-size: 20px;
    margin-top: 3%;
  }
}

@media screen and (min-width: $break-sm) and (max-width: $break-md) {
  .apply-text {
    padding: 30px;
    margin: auto;
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: $break-md) and (max-width: $break-lg) {
  .apply-text {
    padding: 30px;
    margin: auto;
    font-size: 34px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: $break-lg) and (max-width: $break-xl) {
  .apply-text {
    padding: 30px;
    margin: auto;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.input {
  width: 100%;
}

.captions.symbol {
  margin-left: 0;
  font-size: 63px;
}

.form-content {
  padding: 80px 98px 80px 98px;
}

@media screen and (max-width: $break-md) {
  .form-content {
    padding: 25px;
  }
}

@media screen and (min-width: $break-xl) {
  .col-xl-6.right-col {
    padding-right: 0;
    padding-left: 30px;
  }
}

.left-col .padding-left-80-200 {
  padding: 0 !important;
}

@media screen and (min-width: $break-md) and (max-width: $break-lg) {
  .left-col .padding-left-80-200 {
    padding-left: 40px;
  }
}

@media screen and (min-width: $break-lg) and (max-width: $break-xl) {
  .left-col .padding-left-80-200 {
    padding-left: 100px;
  }
}

@media screen and (min-width: $break-md) and (max-width: $break-lg) {
  .left-col .padding-right-80-200 {
    padding-right: 40px;
  }
}

@media screen and (min-width: $break-lg) and (max-width: $break-xl) {
  .left-col .padding-right-80-200 {
    padding-right: 100px;
  }
}

.button.two:hover {
  background-color: $ugly-yellow;
  color: $basic-color;
  background-position: 0 0, 0 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn {
  text-align: center;

  .button {
    background-color: $basic-color;
    color: $ugly-yellow;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: 0;
    margin-top: 30px;
  }
}

.formBox {
  margin-left: 98px;
  margin-right: 98px;
  background-color: #f7f7f7;

  .email {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  textarea {
    height: 172px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid #d4d4d4;

    &:focus {
      outline: $basic-color;
      box-shadow: 0 0 4px 1px $basic-color;
    }
  }

  input {
    padding-left: 10px;
    border: 1px solid #d4d4d4;

    &:focus {
      outline: $basic-color;
      box-shadow: 0 0 4px 1px $basic-color;
    }
  }

  .touch {
    text-align: center;
    padding-bottom: 30px;
  }

  h1 {
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid $basic-color;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    color: $basic-color;
    display: inline-block;
  }
}

@media screen and (max-width: $break-md) {
  .formBox {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: $break-md) {
  .formBox .mobile {
    margin-top: 20px;
  }
}

footer {
  margin-top: 80px;
}

.list {
  text-decoration: none;
  list-style: none;
  padding-left: 0;

  li {
    padding-bottom: 10px;

    a {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.82px;
      color: $white;
    }
  }
}

@media screen and (min-width: $break-md) {
  .list {
    display: block !important;
  }
}

.foot-title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.93px;
  color: $ugly-yellow;
  padding-bottom: 15px;
  margin-bottom: 0;

  @media screen and (min-width: $break-md) {
    pointer-events: none;
  }
}


.list .using {
  padding-top: 15px;
}

.footer {
  padding-top: 62px;
  padding-bottom: 62px;
  background-color: $basic-color;
}

.row .col-md-3 .row {
  .col-md-1, .col-md-11 {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: $break-md) {
  .row .col-md-3 .row .col-md-11 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.vl2 {
  border-left: 1px solid #cecece;
  height: 296px;
  padding-left: 0;
}

@media screen and (max-width: $break-md) {
  .vl2 {
    display: none;
  }
}

.footer-logo {
  text-align: left;
  padding-top: 0;
  background-color: transparent;

  ul {
    padding-left: 0;

    li {
      text-align: left;
      background-color: transparent;

      a {
        background-color: transparent;
      }
    }
  }

  a:hover {
    color: $ugly-yellow;
    transition-duration: 0.5s;
  }
}

.follow {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.93px;
  color: $ugly-yellow;
  padding-bottom: 0;
  padding-left: 5px;
  margin-top: 40px;
}

.copy-right {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #223663;

  .copy {
    color: $white;
    text-align: center;
  }
}

footer .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.content-wrapper {
  margin-bottom: 30px;
}

.container {
  padding: 0 !important;
}

.col-with-text {
  background-color: #f3f3f3;
  padding: 15px;
}

.newRow {
  margin-top: 100px;
}

@media screen and (max-width: $break-xl) {
  .col-sm-12.center {
    text-align: center;
  }
}


/*# sourceMappingURL=style.css.map */