$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$ugly-yellow: #e4c800;
$basic-color: #021a4e;
$white: #ffffff;
body {

  font-family: 'Ubuntu', sans-serif;
}

.main {
  background-color: $basic-color;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  @media screen and(max-width: $break-sm) {
    width: 350px;
    height: 388px;
  }
}

.back {
  padding-top: 10px;

  a {
    padding: 15px 0px 0px 15px;
    color: $ugly-yellow;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 16px;

    &:hover {
      text-decoration: none;
      color: $ugly-yellow;
    }
  }

}

.sign {
  padding-top: 0px;
  color: $ugly-yellow;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.un {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  color: $basic-color;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgb(219, 209, 49, 0.5);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.pass {
  width: 76%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  color: $basic-color;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgb(219, 209, 49, 0.5);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
  border: 2px solid $ugly-yellow !important;

}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: $basic-color;
  background: $ugly-yellow;
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35%;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);

  &:hover {
    background-color: #021a4f;
    transition-duration: 0.5s;
    color: $ugly-yellow;
  }
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: $ugly-yellow;
  padding-top: 15px;

  a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: $ugly-yellow;
    text-decoration: none

  }

}

.forgot {
  a:hover {
    text-decoration: none !important;
    color: $ugly-yellow !important;
  }
}
.alert.alert-danger{
  margin-top: 27px;

}
