a, p {
  word-break: break-word;
}

.banner {
  width: 100%;
}

.news {
  height: 100%;
}

.new-date {
  margin-bottom: 50px;
}

.body .tex-left {
  text-decoration: none;
  text-align: left;
}

header {
  margin-bottom: 0px;
}
@media screen and (max-width: 768px) {
  header {
    margin-bottom: 0px;
  }
}

.menu-item {
  margin: 80px 0px;
}

.menu-item.events {
  margin-bottom: 0px;
}

.title-au {
  text-align: center;
}

.row .title-au {
  margin-top: 80px;
}

.fac-title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
  display: inline-block;
  background-color: #022062;
  padding-top: 15px;
  text-align: center;
  word-wrap: break-word;
  padding: 10px 10px 5px 10px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.nav-item.opened {
  color: #e4c800;
}

.fac {
  margin-top: 30px;
}

.ad-title {
  margin-top: 30px;
}

.secend-cards {
  margin-top: 30px;
}

.location-title {
  margin: 100px auto auto auto;
  text-align: center;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.formBox {
  margin-top: 80px;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .formBox {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 992px) {
  .form-content {
    padding: 25px;
  }
}
.appear {
  color: #021a4e;
  background-color: #82f286;
  width: 147px;
  border-radius: 10px;
  margin: auto auto 5px auto;
  display: none;
  padding: 5px;
}

.para-title.small-title {
  font-size: 20px;
  font-weight: bold;
}

form .searchIcon2 {
  background-image: url(../img/search-icon-white-one-hi.png) !important;
}

.searchIcon::placeholder {
  color: transparent;
}
.searchIcon:focus::placeholder {
  color: unset;
}
.searchIcon[type=text] {
  width: 3px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #ffffff;
  background-image: url(../img/searchicon.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 54px 12px 8px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  margin-left: 30px;
  background-size: 25px;
}
.searchIcon[type=text]:focus {
  width: 200px;
  background-position: 161px 10px;
  transition: width 0.3s ease-in-out;
}

.touch h1:hover {
  color: unset;
}

/*# sourceMappingURL=styleinner.css.map */
